<!DOCTYPE html>
<html>
  <head>
    <title>sample!</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
      <h1 class="title">Hi, Welcome to my website! </h1>
      <p id="currentTime"></p>
      <script src="script.js"></script>
      
      
      
      
      
      
      
      
  </body>
  
  
  <!DOCTYPE html>
<html>
<body style="background-color:powderblue;">

<h1>Devops</h1>
<p>This is a simple deployment for devops cicd pipline practice .</p>

<p><a href="http://localhost:8080/login">Login</a></p>


<p><a href="http://localhost:8080/fun">Facts</a></p>

<p><a href="http://localhost:8080/Data">Data</a></p>
<p><a href="http://localhost:8080/result">result</a></p>
</body>
</html>

